[submodule "Drivers/STM32WBxx_HAL_Driver"]
	path = Drivers/STM32WBxx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32wbxx_hal_driver.git
	branch = master
[submodule "Drivers/CMSIS/Device/ST/STM32WBxx"]
	path = Drivers/CMSIS/Device/ST/STM32WBxx
	url = https://github.com/STMicroelectronics/cmsis_device_wb.git
	branch = master
